<p>If you believe this is an error or would like to discuss this further, please contact our support team at <a
        href="mailto:support@scolarispay.com">support@scolarispay.com</a>.</p>
<p>Best regards,<br>The Scolaris Pay Team</p>
</div>
</center>
</body>

</html>